html
    head
        title CIM Gui
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        // link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")


        style(type="text/css").
            body {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .navbar {
                margin-bottom: 20px;
            }

    body
        div.container

            nav.navbar.navbar-default
              .container-fluid
                .navbar-header
                  a.navbar-brand() Admin Panel
                #navbar.navbar-collapse.collapse
                  ul.nav.navbar-nav
                    li
                      a(href='/') CIM
                    li.active
                      a(href='/snmp') SNMP

            h4 System Information

            table.table.table-striped
                thead
                    tr
                        th Name
                        th Value
                tbody
                    tr
                        td OS version
                        td= osVersion


            h4 IP Interfaces

            table.table.table-striped
                thead
                    tr
                        th Name
                        th IP Address
                        th Network Mask
                tbody
                    each val, index in interfaces
                        tr
                            td= val[0]
                            td= val[1]
                            td= val[2]